# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=your_supabase_project_url
EXPO_PUBLIC_SUPABASE_KEY=your_supabase_anon_key

# Firebase / Google Services (Optional for Local Development if not building custom client)
# GOOGLE_SERVICES_JSON=
# GOOGLE_SERVICES_JSON_PRE=
